body{

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M121.89 120.21 a20.56 20.56 0 1 0 41.12 0 a20.56 20.56 0 1 0 -41.12 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M916.32 477.16a13.91 13.91 0 1 0-10.53 25.75z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M387.44 0.98 a16.36 16.36 0 1 0 32.72 0 a16.36 16.36 0 1 0 -32.72 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1024.08 113.31a24.84 24.84 0 1 0-10.35-48.59z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M361.29 117.6L417.08 117.6L417.08 141.39L361.29 141.39z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1131.74 289.43 a28.67 28.67 0 1 0 57.34 0 a28.67 28.67 0 1 0 -57.34 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1406.16 452.37a54.34 54.34 0 1 0-105.3 26.89z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1125.77 464.66a11.89 11.89 0 1 0-3.9-23.46z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1278.28 273.79L1326.59 273.79L1326.59 322.1L1278.28 322.1z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M399.17 210.04L454.02 210.04L454.02 264.89L399.17 264.89z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M617.13 368.34L645.7 368.34L645.7 418.34L617.13 418.34z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1000.25 186.82 a0.65 0.65 0 1 0 1.3 0 a0.65 0.65 0 1 0 -1.3 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M236.83 344.3a32.22 32.22 0 1 0-63.44-11.31z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1212.63 2.02 a21.99 21.99 0 1 0 43.98 0 a21.99 21.99 0 1 0 -43.98 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M56.01 220.69L68.89 220.69L68.89 233.57L56.01 233.57z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1215.89 523.47L1261.36 523.47L1261.36 568.94L1215.89 568.94z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M106.4 156.29a16.69 16.69 0 1 0-24.34-22.84z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M6.98 167.2 a52.32 52.32 0 1 0 104.64 0 a52.32 52.32 0 1 0 -104.64 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M822.89 65.53L865.5 65.53L865.5 108.14L822.89 108.14z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1162.95 174.56L1189.93 174.56L1189.93 225.6L1162.95 225.6z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M488.84 45.35L490.33 45.35L490.33 49.44L488.84 49.44z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M993.98 226.99a25.75 25.75 0 1 0-51.08-6.55z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M8.54 532.58L51.11 532.58L51.11 543.56L8.54 543.56z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1011.96 59.25L1024.75 59.25L1024.75 72.04L1011.96 72.04z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M296.45 165.74a9.81 9.81 0 1 0 18.96-5.06z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M890.94 303.27a49.78 49.78 0 1 0-44.68-88.97z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M872.36 359.35 a20.47 20.47 0 1 0 40.94 0 a20.47 20.47 0 1 0 -40.94 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M779.89 185.91a55.57 55.57 0 1 0-31.17 106.68z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M657.84 470.61a10.3 10.3 0 1 0-17.67 10.58z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M391.22 96.36 a17.16 17.16 0 1 0 34.32 0 a17.16 17.16 0 1 0 -34.32 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M721.81 12.42 a3.2 3.2 0 1 0 6.4 0 a3.2 3.2 0 1 0 -6.4 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1033.38 208.98 a33.82 33.82 0 1 0 67.64 0 a33.82 33.82 0 1 0 -67.64 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M203.24 395.73L251.19 395.73L251.19 443.68L203.24 443.68z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h2{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 3px 4px 10px black;
    color: red;
    text-transform: capitalize;
}
textarea{
    margin: 30px 0;
    width: 300px;
    height: 100px;
    box-shadow: 5px 6px 10px black;
    border: none;
}
button{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    box-shadow: 5px 5px 10px black;

}
